@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<DarabnyProject.Models.Chapter>
@section breadCrumb {
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Chapters</h4>
                <div class="ms-auto text-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                            <li class="breadcrumb-item active">Chapters</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
}
<div class="mb-3">
    <a class="btn btn-primary" href="/admin/chapters/create">+ Add New Chapter</a>
</div>
<h5 class="card-title">Chapter List</h5>
<div class="table-responsive">
    <table id="zero_config" class="table table-striped table-bordered">
        <thead>
            <tr><th>Id</th><th>Chapter</th><th>Course</th><th>Lessons</th><th></th></tr>
        </thead>
        <tbody>
            @foreach (var ch in Model)
            {
                <tr>
                    <td>@ch.Id</td>
                    <td>@ch.Name</td>
                    <td>@(ch.Course?.Name ?? "-")</td>
                    <td>@(ch.Lessons?.Count ?? 0)</td>
                    <td>
                        <a class="btn btn-success" href="/admin/chapters/edit/@ch.Id">Edit</a>
                        <a class="btn btn-danger"  href="/admin/chapters/delete/@ch.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
